.lineupSection {
  p {
    padding-bottom: 2rem;
  }

  span:nth-child(-n + 3) {
    font-size: 5rem;
  }
  span:nth-child(3)::after {
    content: "\a";
    white-space: pre;
  }
}

span:nth-child(n + 4) {
  font-size: 3rem;
}

span:nth-child(8)::after {
  content: "\a";
  white-space: pre;
}

span:nth-child(n + 9) {
  font-size: 1.5rem;
  // &::after {
  //     content: "\a";
  //     white-space: pre;
  //   }
}

span:nth-child(29)::after {
  content: "\a";
  white-space: pre;
}

span:nth-child(n + 30) {
  font-size: 1rem;
  // &::after {
  //     content: "\a";
  //     white-space: pre;
  //   }
}
// }

.lineupSection {
  text-align: center;
  padding: 3vw;
}
