.cardGrid {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.playCard {
    text-align: center;
    color: white;
    font-family: $sec-font;
    border-radius: $card-border;
    box-shadow: $card-shadow;
    position: relative;
    background: $dark-poster;
    margin-top: 1rem;
    padding-inline: 2rem;
    // padding-bottom: 1rem;
  
    &:hover {
      box-shadow: $hov-card-sh;
    }

    button {
        position: relative;
        margin-top: -3rem;

    }
  }