
.artistCard {
    background-image: var(--img);
    background-color: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: $card-border;
    height: 40vh;
    min-width: 20vw;
    max-width: 20vw;
    // text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: $card-shadow;
  
    h3 {
      color: white;
      text-transform: uppercase;
      text-align: center;
      opacity: 0;
      transition: opacity 0.7s;
    }
    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgb(0, 0, 0)),
        var(--img);
      box-shadow: $hov-card-sh;
    }
    &:hover h3 {
      opacity: 1;
    }
  }